@import '@workspace/tailwind-config/theme';

@source '../../../packages/ui/src/**/*.{ts,tsx}';

@theme {
  /* Typography */
  --text-clamp-42-88: clamp(2.625rem, calc(1.6964rem + 3.9621vw), 5.5rem); /* 1536 */
  --text-clamp-36-64: clamp(2.25rem, calc(1.6848rem + 2.4117vw), 4rem); /* 1536 */
  --text-clamp-32-52: clamp(2rem, calc(1.596rem + 1.723vw), 3.25rem); /* 1536 */
  --text-clamp-28-44: clamp(1.75rem, calc(1.427rem + 1.3781vw), 2.75rem); /* 1536 */
  --text-clamp-24-36: clamp(1.5rem, calc(1.2578rem + 1.0336vw), 2.25rem); /* 1536 */

  --text-clamp-16-20: clamp(1rem, calc(0.8964rem + 0.442vw), 1.25rem); /* 1280 */
  --text-clamp-15-18: clamp(0.9375rem, calc(0.8598rem + 0.3315vw), 1.125rem); /* 1280 */
  --text-clamp-14-16: clamp(0.875rem, calc(0.8232rem + 0.221vw), 1rem); /* 1280 */
  --text-clamp-12-14: clamp(0.75rem, calc(0.6982rem + 0.221vw), 0.875rem); /* 1280 */

  --breakpoint-3xl: 108rem; /* 1728px */
  --breakpoint-4xl: 120rem; /* 1920px */
}

:root {
  --page-gutter-x: clamp(1.5rem, calc(0.55806rem + 4.30571vw), 4rem);
  --section-gutter-y: clamp(2.5rem, calc(-0.5rem + 7.5vw), 5.5rem);
}

@utility container-page-2xl {
  width: auto;
  margin-inline: max(var(--container-min-margin, var(--page-gutter-x)), calc((100% - var(--breakpoint-2xl)) / 2));
}

@utility container-page-3xl {
  width: auto;
  margin-inline: max(var(--container-min-margin, var(--page-gutter-x)), calc((100% - var(--breakpoint-3xl)) / 2));
}

@utility container-page-4xl {
  width: auto;
  margin-inline: max(var(--container-min-margin, var(--page-gutter-x)), calc((100% - var(--breakpoint-4xl)) / 2));
}

@utility container-bleed {
  --container-min-margin: 0px;
}

@utility section-px {
  padding-inline: var(--page-gutter-x);
}

@utility section-py {
  padding-block: var(--section-gutter-y);
}

@keyframes cabin-carousel-progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
